# Basic Python Stuff

In [1]:
my_list=[(1,2),(3,4),('new','old')]

In [8]:
for a in enumerate(my_list):
    print(a)

(0, (1, 2))
(1, (3, 4))
(2, ('new', 'old'))

In [ ]:
my_string='Hello World'

In [ ]:
count=0
for i in my_string:
    print(i)
    count=count+1
print(count)
print(len(my_string))

In [3]:
name='shivam'
roll=22113075
print(f'my name is {name} singh and roll no. is {roll}')

my name is shivam singh and roll no. is 22113075

In [4]:
result=22/77
result

0.2857142857142857

In [5]:
print("the result is {r:4.3f}".format(r=result))

the result is 0.286

In [7]:
name='shivani singh'
for i in name:
    if i=='v':
        continue
    print(i)

s
h
i
a
n
i

s
i
n
g
h

In [9]:
list1=[1,4.567,'yesterday']
list2=[2,5.467,'today']
list3=[3,6.457,'tommorow']
for i in zip(list1,list2,list3):
    print(i)

(1, 2, 3)
(4.567, 5.467, 6.457)
('yesterday', 'today', 'tommorow')

In [10]:
3 in list1

False

In [11]:
3 in list3

True

In [12]:
word='HELLO WORLD'
my_list=[w for w in word]
print(my_list)

['H', 'E', 'L', 'L', 'O', ' ', 'W', 'O', 'R', 'L', 'D']

In [13]:
my_list=[i**2 for i in range(1,6)]
print(my_list)

[1, 4, 9, 16, 25]

In [15]:
my_list=[i**2 for i in range(1,7) if i%2==0]
print(my_list)

[4, 16, 36]

In [18]:
list=[i**3 for i in range(1,11) if i%2==0]
list

[8, 64, 216, 512, 1000]

In [20]:
list1=[i if i%2==0 else 'ODD' for i in range(0,10)]
list1

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD']

In [24]:
my_list=[]
for i in [1,2,5]:
    for j in [3,4,6]:
        my_list.append(i*j)
print(my_list)

[3, 4, 6, 6, 8, 12, 15, 20, 30]

In [25]:
# *args return a tuple
# *kwargs return a dictionary

In [27]:
def myfunc(a,b):
    return sum((a,b))*0.05
myfunc(30,70)

5.0

In [29]:
def myfunc(a,b,c=0,d=0,e=0):
    return sum((a,b,c,d,e))*0.05
myfunc(10,20,30,40,50)

7.5

In [30]:
def myfunc(a,b,c=0,d=0,e=0):
    return sum((a,b,c,d,e))*0.05
myfunc(10,20,30,40,50,60)

TypeError: myfunc() takes from 2 to 5 positional arguments but 6 were given

In [31]:
## To solve the above error we can use *args in order to take arbitrary number of parameters

In [36]:
def myfunc(*args):
    print(args)
    return sum(args)*0.05
myfunc(10,20,30,40,50,60)

(10, 20, 30, 40, 50, 60)

10.5

In [45]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('My favourite fruit is: {}'.format(kwargs['fruit']))
myfunc(fruit='Mango',veggie='Gobhi')

{'fruit': 'Mango', 'veggie': 'Gobhi'}
My favourite fruit is: Mango

In [47]:
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print('I would like: {} {}'.format(args[0],kwargs['food']))
myfunc(3,20,30,40,50,fruit='Mango',food='chicken_leg_piece',animal='cow',habbit='watching football')

(3, 20, 30, 40, 50)
{'fruit': 'Mango', 'food': 'chicken_leg_piece', 'animal': 'cow', 'habbit': 'watching football'}
I would like: 3 chicken_leg_piece

## Lambda Expressions,Map and Filter Functions

In [48]:
def square(num):
    return num**2
my_list=[1,2,3,4,5]
map(square,my_list)

In [51]:
for item in map(square,my_list):
    print(item)

1
4
9
16
25

In [66]:
# we are using splicer as an argument
def splicer(mystring):
    if len(mystring)%2==0:
        return 'EVEN'
    else:
        return mystring[0]

In [67]:
names=['andy','eve','shiv']

In [70]:
ind=tuple(map(splicer,names))
print(ind)

('EVEN', 'e', 'EVEN')

In [79]:
# Filter function
def check_even(num):
    return num%2==0
numbers=[1,2,3,4,5,6,7,8,9,10]
filter(check_even,numbers)

# By using lamda expression
# list(filter(lambda num:num%2==0,numbers))

In [77]:
for items in filter(check_even,numbers):
    print(items)

2
4
6
8
10

In [82]:
# How to use lambda step by step(Lambda expression also known as anonymous function)
square=lambda num:num**2#(in 3rd step remove the def square & return)(We remove return bcoz we assume that it will return the result of other side of the column)
    #result=num**2(1st step)
    #return num**2(in 2nd step put this line of code 1st line only)

In [84]:
square(5)

25

In [87]:
# using lamda expression infilter
tuple(filter(lambda num:num%2==0,numbers))

(2, 4, 6, 8, 10)

In [89]:
# Reverse the names variable using lambda expression
tuple(map(lambda x:x[::-1],names))

('ydna', 'eve', 'vihs')

# THANKS